{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>{{ produit.proLibelle }}</h1>

    <table class="table  table-striped">
        <tbody>
        
            <tr>
                <th>Description</th>
                <td>{{ produit.proDescription }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ produit.proRef }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.proPrix }} €</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>/<img src="/uploads/{{ produit.proPhoto }}" alt="photo" class="img-fluid imgProduit"><td>
            </tr>
           
            {% if app.user.userRole == 1 %}
            <tr>
                <th>Nombre en stock</th>
                <td>{{ produit.proStock }}</td>
            </tr>
            {% endif %}
         
            
        </tbody>
    </table>
<div class="d-flex justify-content-center">
    
                {% if app.user.userRole == 1 %}
                <div class="p-2"><a href="{{ path('produits_edit', {'id': produit.id}) }}"><button type="button" class="btn btn-primary">edit</button></a></div>
                <div class="p-2">{{ include('produits/_delete_form.html.twig') }}</div>
                {% endif %}
               
  
    
    <div class="p-2"><a href="{{ path('produits') }}"><button type="button" class="btn btn-primary">Retour à la liste</button></a></div>

    
    
</div>


{% endblock %}
